body {
    font-family: monospace;
    text-align: center;
    background-color: white;
    /*background-color: rgba(236, 226, 208, 1); */
    color: #0e3150;
}

img {
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20;
    margin-bottom: 20;*/
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*text-align: center;*/
}
/*
div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}*/

h1 {
    background-color: #6dc9c8;
    padding-top: 20;
    padding-bottom: 20;
   /* border-bottom-color: black;
    border-bottom-style: dashed;
    border-top-style: dashed;*/

    color: #0e3150;
    font-weight: 100
}

h2 {
  color: #ffc0c2;

}

p {
  color: #0e3150;
}

ul {
  list-style-type: none;
  text-align: right;
  font-size: 13;
  margin-right: 30;
  color: #6dc9c8;
}

.links-right {
  text-align: right;
  margin-right: 30;
}

.container{width:100%;}
#right {
    float:right;
    width:900px;
}
#left {float:left;}
#center {float: center;}


